/* ___ STYLE _ POMOCNICZE ___ */

/*
.cover {
  background-color: rgba(10, 200, 10, .3);
}

.wrapper {
  background-color: rgba(10, 20, 10, .3);
  height: 100px;
}

main {
  background-color: rgba(100, 20, 10, .2);
}

.faq{
  background-color: rgba(0, 100, 100, .2);
}

.group-qa {
  background-color: rgba(30, 200, 50, .2);
}

footer {
  background-color: rgba(30, 0, 250, .2);
}
*/

/* ====== STYLE GŁOWNE ====== */

* {
  box-sizing: border-box;
}

body {
  background: url(https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-background.png);
  font-family: 'Libre Baskerville', serif;
  color: #444349;
}

h1,
h2 {
  font-family: 'Great Vibes', cursive;
  text-align: center;
  letter-spacing: .175rem;
}

h2 {
  font-size: 2.25rem;
  margin: 1.125rem auto 1.5rem;
}

h3 {
  font-size: 1.125rem;
  text-align: center;
  margin-top: 1.5625rem;
  font-weight: 700;
}

section {
  padding: 1rem;
}

img {
  width: 4.875rem;
  margin: 1.5625rem auto;
}

@media (min-width: 768px) {
  body {
    font-size: 1.25rem;
  }

  img {
    width: 9rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 1.5rem;
  }
}



/* ----------------------------- okladka ----- */

.cover {
  background: url(https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-cover.jpg) no-repeat 70% center;
  background-size: cover;
  height: 100vh;
  position: relative;
}

.wrapper {
  background-color: rgba(94, 94, 94, .4);
  height: 11.75rem;
  position: absolute;
  top: calc(100vh - 15.75rem);
  width: 100%;
}

.wrapper-text {
  padding-top: 1.5rem;
  text-align: center;
  color: #f2f2f2;
}

.tagline {
  letter-spacing: .15625rem;
  padding-bottom: .0625rem;
  text-transform: uppercase;
}

.tagline::after {
  display: block;
  content: "";
  height: .0625rem;
  width: 13rem;
  background-color: #f2f2f2;
  margin: .75rem auto;
}

.wrapper-text h1 {
  font-size: 3rem;
  margin: 1.125rem;
  color: #d2ba87;
}

.date {
  letter-spacing: .15625rem;
}

.date::before,
.date::after {
  display: inline-block;
  content: "";
  height: .0625rem;
  width: 1.5rem;
  background-color: #f2f2f2;
  margin: 0 .75rem;
  vertical-align: middle;
}

@media(min-width: 768px) {
  .wrapper {
    height: 15.375rem;
    width: 28.75rem;
    position: relative;
    top: calc(100vh - 20.75rem);
    margin: 0 auto;
  }

  .wrapper-text {
    padding: 2.125rem;
  }

  .wrapper-text h1 {
    font-size: 5rem;
  }
}

/* ---------------------- sekcja program ----- */

.program {
  background-color: hsla(100, 0%, 0%, .6);
  font-family: 'Muli', sans-serif;
  color: #d2ba87;
  display: inline-table;
  width: 100%;
}

.program p {
  text-align: center;
  letter-spacing: .0625rem;
  text-decoration: underline;
}

.program ul {
  margin: 1.5rem auto;
  display: table;
}

.program li {
  margin: .625rem auto;
}

@media (min-width: 768px) {
  .program p {
    margin-top: 2rem;
  }
}

/* ------------------- sekcja lokalizacje ----- */

.ad {
  text-align: center;
  letter-spacing: .03rem;
}

.ad div {
  font-family: 'Muli', sans-serif;
  margin-bottom: .5rem;
}

.ad::after {
  display: block;
  content: "";
  height: .1875rem;
  background-color: #444349;
  width: 7rem;
  margin: 1.25rem auto 0;
}

@media (min-width: 768px) {
  .location {
    text-align: center;
    padding: 2.3rem 0;
  }

  .ad {
    display: inline-block;
    padding: 0 3.5rem;
    margin-bottom: .5rem
  }

  .ad::after {
    display: none;
  }
}

/* ----------------------- sekcja prezenty ----- */

.gifts {
  background-color: hsla(100, 0%, 0%, .6);
  font-family: 'Muli', sans-serif;
  text-align: center;
  color: #d2ba87;
  padding: 2rem 0;
}

.gifts h2 {
  margin-bottom: 1.75rem;
}

@media (min-width: 768px) {
  .gifts {
    padding-bottom: 3rem;
  }
}

/* ----------- sekcja pytania i odpowiedzi ----- */

.faq {
  letter-spacing: .03125rem;
}

.group-qa::after {
  display: block;
  content: "";
  height: .1875rem;
  background-color: #444349;
  width: 7.5rem;
  margin: 1.5rem auto 0;
}

.group-qa h3 {
  margin-bottom: 1.125rem;
}

.question,
.answer {
  font-family: 'Muli', sans-serif;
  line-height: 1.25;
  margin-top: .625rem;
}

.question {
  font-weight: 700;
}

.answer {
  margin-bottom: 1.25rem;
}

@media (min-width: 768px) {
  .faq {
    text-align: center;
    font-size: 1.125rem;
    padding-bottom: 2rem;
  }

  .group-qa h3 {
    text-align: left;
    padding-bottom: 1.5rem;
  }

  .group-qa {
    display: inline-block;
    margin: .5rem;
    width: 30vw;
    padding: 0 2rem;
    vertical-align: top;
    text-align: left;
  }

  group-qa p {
    line-height: 1.5;
  }

  .group-qa::after {
    display: none;
  }
}

/* ------------------------ sekcja kontakt ----- */

.contact {
  background-color: hsla(100, 0%, 0%, .6);
  font-family: 'Muli', sans-serif;
  font-size: .95rem;
  color: #d2ba87;
  text-align: center;
}

.contact h2 {
  margin: 1rem auto;
  padding-bottom: .95rem;
}

.contact p {
  margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
  .contact {
    padding: 2rem;
  }

  .contact h2 {
    padding-bottom: 1.5rem;
  }

  .contact p {
    font-size: 1.125rem;
  }
}

/* -------------------------------- stopka ----- */

footer {
  background-color: hsla(0, 0%, 100%, .6);
  height: 10vh;
  font-family: 'Muli', sans-serif;
  font-size: .75rem;
  text-align: center;
  display: table;
  width: 100%;
}

.wrapper-f {
  display: table-cell;
  vertical-align: middle;
}

@media (min-width: 768px) {
  .wrapper-f {
    font-size: 1rem;
  }
}

/* ----------------- linki i stany specjalne ----- */

a {
  color: #bd806e;
  text-decoration: none;
  font-family: 'Menlo', monospace;
}

a:hover {
  color: #eda087;
}
